<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ArcGISExtensions" version="1.3.0" targetFramework="net461" />
  <package id="ArcGISServerAdminSDK" version="1.2.2.0" targetFramework="net461" />
  <package id="Common.Net.REST" version="1.0.0.4" targetFramework="net461" />
  <package id="Common.Net.REST.ArcGIS" version="0.9.0.1" targetFramework="net461" />
  <package id="Common.Runtime.Serialization" version="0.9.0.2" targetFramework="net461" />
  <package id="Esri.ArcGIS.Client" version="3.0.0" targetFramework="net461" />
  <package id="Esri.ArcGISRuntime" version="100.1.0" targetFramework="net40" />
  <package id="Esri.ArcGISRuntime.LocalServices" version="100.1.0" targetFramework="net461" />
  <package id="Esri.ArcGISRuntime.WPF" version="100.1.0" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="3.0" targetFramework="net461" />
  <package id="GeoAPI" version="1.7.4" targetFramework="net461" />
  <package id="MapSuiteDependency-GeoAPI" version="10.1.0" targetFramework="net461" />
  <package id="MapSuiteDependency-NetTopologySuite" version="10.1.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net461" />
  <package id="ProjNET4GeoAPI" version="1.3.0.4" targetFramework="net461" />
</packages>